In [1]:
import requests
import pandas as pd
api_key = "cd48970b0bea4249ac391317252106"
latitude = 1.3733
longitude = 32.2903
#ви не уточнювали, який саме брати прогноз, тому я взяв прогноз Уганди
url = f"http://api.weatherapi.com/v1/forecast.json?key={api_key}&q={latitude},{longitude}&days=7&aqi=no&alerts=no"
response = requests.get(url)
data = response.json()
forecast_data = data['forecast']['forecastday']
weather_list = []
for day in forecast_data:
    for hour in day['hour']:
        weather_list.append({
            'Час': hour['time'],
            'Температура': hour['temp_c'],
            'Швидкість вітру': hour['wind_kph'],
        })

weather_df = pd.DataFrame(weather_list)
weather_df['Час'] = pd.to_datetime(weather_df['Час'])

In [2]:
weather_df

                    Час  Температура  Швидкість вітру
0   2025-06-22 00:00:00         19.6              1.8
1   2025-06-22 01:00:00         18.9              2.9
2   2025-06-22 02:00:00         18.3              5.0
3   2025-06-22 03:00:00         17.8              5.0
4   2025-06-22 04:00:00         17.3              4.0
..                  ...          ...              ...
163 2025-06-28 19:00:00         24.5             10.1
164 2025-06-28 20:00:00         23.3             10.4
165 2025-06-28 21:00:00         22.0             10.4
166 2025-06-28 22:00:00         21.5              9.0
167 2025-06-28 23:00:00         21.0              7.9

[168 rows x 3 columns]

In [5]:
from datetime import datetime, timedelta
next_3_days = weather_df[weather_df["Час"]<pd.to_datetime(datetime.today() + timedelta(days=2))]

In [6]:
next_3_days

                   Час  Температура  Швидкість вітру
0  2025-06-22 00:00:00         19.6              1.8
1  2025-06-22 01:00:00         18.9              2.9
2  2025-06-22 02:00:00         18.3              5.0
3  2025-06-22 03:00:00         17.8              5.0
4  2025-06-22 04:00:00         17.3              4.0
..                 ...          ...              ...
67 2025-06-24 19:00:00         20.5             16.9
68 2025-06-24 20:00:00         20.0             11.2
69 2025-06-24 21:00:00         19.5              8.3
70 2025-06-24 22:00:00         19.2              8.3
71 2025-06-24 23:00:00         19.2              6.8

[72 rows x 3 columns]

In [7]:
max(next_3_days["Температура"])

31.6

In [8]:
min(next_3_days["Температура"])

16.9

In [9]:
float(next_3_days.Температура.mean())

22.666666666666668

In [10]:
next_3_days[next_3_days["Швидкість вітру"]>next_3_days["Швидкість вітру"].mean()].shape[0]

33